[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/mnt/data2/students/sub1/ddd_v1_w_MKPW_660291/asn500272_4/asn500273_1/work/CoinTossSimulator.java]
row=0
col=3

[/mnt/data2/students/sub1/ddd_v1_w_MKPW_660291/asn500272_4/asn500273_1/work/CoinSimComponent.class]
row=1
col=2

[/mnt/data2/students/sub1/ddd_v1_w_MKPW_660291/asn500272_4/asn500273_1/work/CoinTossSimulator.class]
row=0
col=2

[/mnt/data2/students/sub1/ddd_v1_w_MKPW_660291/asn500272_4/asn500273_1/work/CarComponent.java]
row=2
col=1

[/mnt/data2/students/sub1/ddd_v1_w_MKPW_660291/asn500272_4/asn500273_1/work/CoinTossSimulatorTester.class]
row=4
col=2

[/mnt/data2/students/sub1/ddd_v1_w_MKPW_660291/asn500272_4/asn500273_1/work/CoinSimViewer.class]
row=2
col=2

[/mnt/data2/students/sub1/ddd_v1_w_MKPW_660291/asn500272_4/asn500273_1/work/CoinTossSimulatorTester.java]
row=2
col=0

[/mnt/data2/students/sub1/ddd_v1_w_MKPW_660291/asn500272_4/asn500273_1/work/README]
row=4
col=0

[/mnt/data2/students/sub1/ddd_v1_w_MKPW_660291/asn500272_4/asn500273_1/work/Car.java]
row=3
col=1

[/mnt/data2/students/sub1/ddd_v1_w_MKPW_660291/asn500272_4/asn500273_1/work/Bar.java]
row=4
col=1

[/mnt/data2/students/sub1/ddd_v1_w_MKPW_660291/asn500272_4/asn500273_1/work/CarViewer.java]
row=1
col=1

[/mnt/data2/students/sub1/ddd_v1_w_MKPW_660291/asn500272_4/asn500273_1/work/Bar.class]
row=1
col=3

[/mnt/data2/students/sub1/ddd_v1_w_MKPW_660291/asn500272_4/asn500273_1/work/CoinSimComponent.java]
row=3
col=2

[/mnt/data2/students/sub1/ddd_v1_w_MKPW_660291/asn500272_4/asn500273_1/work/CoinSimViewer.list]
row=0
col=1

[/mnt/data2/students/sub1/ddd_v1_w_MKPW_660291/asn500272_4/asn500273_1/work/CoinSimViewer.java]
row=3
col=0

[Trash]
row=0
col=0

[/mnt/data2/students/sub1/ddd_v1_w_MKPW_660291/asn500272_4/asn500273_1/work]
row=1
col=0

